<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改审批记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-approve-edit" th:object="${locApprove}">
            <input name="approveId" th:field="*{approveId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">借用ID：</label>
                <div class="col-sm-8">
                    <input name="approveBorrowId" th:field="*{approveBorrowId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审批人员ID：</label>
                <div class="col-sm-8">
                    <input name="approveAdministratorsId" th:field="*{approveAdministratorsId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审批时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="approveTime" th:value="${#dates.format(locApprove.approveTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审批结果：</label>
                <div class="col-sm-8">
                    <select name="approveResult" class="form-control m-b" th:with="type=${@dict.getType('loc_approve_approve_result')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{approveResult}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下个审批者ID，0表示无：</label>
                <div class="col-sm-8">
                    <input name="approveNext" th:field="*{approveNext}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "locker/approve";
        $("#form-approve-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-approve-edit').serialize());
            }
        }

        $("input[name='approveTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>