<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增指定班级')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-classrule-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">开放班级：</label>
                <div class="col-sm-8">
                    <input name="classruleClass" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "locker/classrule"
        $("#form-classrule-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-classrule-add').serialize());
            }
        }
    </script>
</body>
</html>