<html lang="zh-cmn-Hans">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/index/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/index/css/index-style.css">


    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#">智能储物柜管理系统</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">关于</a>
          </li>    
        </ul>
      </div>  
    </nav>


    <div class="container">
        <h2 class="pl-3">您需领用</h2>
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">器材箱</h4>
            <p class="card-text">计算机与电子信息学院-8楼-1-1</p>
            <p class="card-text">到期时间：2020-12-12</p>
            <a href="#" class="card-link">领取</a>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/index/bootstrap-4.0.0-dist/others/jquery-3.2.1.slim.min.js"></script>
    <script src="/index/bootstrap-4.0.0-dist/others/popper-1.12.9.min.js"></script>
    <script src="/index/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
  </body>
</html>